.navbar{
    position: absolute;
    top: 0;
    
    border: none;
    height:10vh;
    width: 15%;
    cursor: pointer;
    background-color: transparent;
    transform: translateX(2px);
    background-image: url("/Users/rohail/Downloads/nebula_full_logo.png");
    background-size: cover;
    margin-left: 30%;
    background-position: center;
  margin-top: 1.2%;

}
.logo {
    position: absolute;
    top: 0;
    
    border: none;
    height:10vh;
    width: 15%;
    cursor: pointer;
    background-color: transparent;
    transform: translateX(2px);
    background-image: url("/Users/rohail/Downloads/nebula_full_logo.png");
    background-size: cover;
    margin-left: 30%;
    background-position: center;
  margin-top: 1.2%;
  
  }